/* Banner Decoration */
body{
    
    font-family: 'Merriweather', serif;
}
.banner{
    background-image:linear-gradient( rgb(0,0,0), rgb(255,255,255)), url("../images/Banner_Image.png");
    height: 600px; 
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    margin: 0px 100px;
       
}
h3{
    color: white;
    text-align: center;
    padding-top: 170px;
    font-size: 32px;
    font-weight: 400;
}
h1{
    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: 900;
}