/* Banner Decoration */

.banner {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255)), url("../images/Banner_Image.png");
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    margin: 0px auto;
    font-family: 'Merriweather', serif;
}

h3 {
    color: white;
    text-align: center;
    padding-top: 170px;
    font-size: 32px;
    font-weight: 400;
}

h1 {
    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: 900;
}

/* discount section decoration */
.text {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.t1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.t2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.t3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.image {
    margin-left: 350px;
    width: 500px;
}

/* Section Welcome decoration */

.welcome {
    margin: 120px 90px;

}


.text2 {
    background-image: linear-gradient(to right, black, white), url("../images/Vectorrr.png");
    background-blend-mode: multiply;
    width: 1320px;
    height: 600px;
}

.w1 {
    text-align: left;
    padding-top: 126px;
    padding-left: 126px;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;

}

.txt {
    text-align: left;
    color: rgba(255, 255, 255, 0.80);
    padding-top: 24px;
    padding-left: 126px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.btn {
    margin-left: 158px;
    margin-top: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #070211;
    border: none;
}

/* Section join now decoration */
.join {
    margin: 120px 90px;
    font-family: 'Inter', sans-serif;
}

.join_now {
    background-color: white;
    background-image: linear-gradient(to top, white, rgba(255, 0, 0, 0.10));
    width: 1320px;
    height: 482px;
    border-radius: 15px;
}

.jtxt {
    padding-top: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #070211;
}

span {
    color: #F00;
}

.btn1 {
    padding: 16px 32px;
    background-color: #F00;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 48px;
    margin-left: 576px;
    border: none;
    border-radius: 10px;

}

/* Profile section decoration */
.profile {
    margin: 120px 90px;
    display: flex;

}

.pt1 {
    color: #F00;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;

}

.pt2 {

    font-size: 48px;
    color: #070211;
    font-weight: 900;
    font-family: 'Merriweather', serif;

}

.pt3 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.elip {

    border: 15px solid red;
    border-radius: 463px;
}

.p2 {

    padding-left: 119px;

}

.p3 {

    padding-left: 167px;

}

.pt11 {

    color: #F00;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.pt12 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.happy {
    padding-top: 10px;
}

/* sale section decoration */

.sale {
    margin: 120px 90px;
    width: 1320px;

}

.img1 {

    text-align: center;
    height: 100px;
}

.what {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.holiday {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}

.article {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.under {
    width: 1320px;
    height: 200px;

}

.meye {
    padding-top: 300px;
    padding-left: 890px;
    width: 429px;
    height: 400px;

}


/* Cart section decoration */

.cart {
    margin: 120px 90px;
    width: 1320px;

}

.ctxt {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}

.ctxt1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    padding-top: 16px;
    padding-bottom: 22px;
}

.ctxt2 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding-bottom: 48px;
}

.raw1 {
    display: flex;
    justify-content: space-around;

}

.pic {
    width: 424px;
    margin: 0 10px;
    transition: 1s;
}

.pic img {
    display: block;
    width: 100%;

}

.pic:hover {
    transform: scale(1.3);

}

.raw2 {
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
}



/* Email section decoration */

.email {
    margin: 120px 90px;
    width: 1320px;
    background-color: rgba(255, 0, 0, 0.05);
}

.email_img {
    padding-left: 585px;
    padding-top: 80px;
}

.section-title {
    text-align: center;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}

.section-text {
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.secbtn {
    padding-top: 48px;
}

#tsec {
    margin-top: 48px;
    margin-left: 336px;
    padding: 25px 477px 25px 30px;
    border: none;
    border-radius: 30px;
}

.secbtn {
    display: flex;
}

#se_button {
    margin-top: 48px;
    border-radius: 0px 50px 50px 0px;
    width: 210px;
    height: 72px;
    background-color: #F00;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    border: none;
}

.foot{
    padding-top: 120px;
    background-color: #070211;
}