/* Banner Decoration */
body{
    
}

.banner{
    background-image:linear-gradient( rgb(0,0,0), rgb(255,255,255)), url("../images/Banner_Image.png");
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    margin: 0px 90px;
    font-family: 'Merriweather', serif;   
}
h3{
    color: white;
    text-align: center;
    padding-top: 170px;
    font-size: 32px;
    font-weight: 400;
}
h1{
    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: 900;
}

/* discount section decoration */
.text{
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.t1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.t2{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.t3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;   
}

.image{
    margin-left: 350px;
    width: 500px;
}

/* Section Welcome decoration */

.welcome{
    margin: 120px 90px;
    
}

.text2{
    background-image:linear-gradient(to right, black,white), url("../images/Vectorrr.png");
    width: 1320px;
    height: 600px;
    background-blend-mode: multiply;
}
.w1{
    text-align: left;
    padding-top: 126px;
    padding-left: 126px;
    font-family: 'Merriweather', serif; 
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;

}
.txt{
    text-align: left;
    color: rgba(255, 255, 255, 0.80);
    padding-top: 24px;
    padding-left: 126px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.btn{
    margin-left: 158px;
    margin-top: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #070211;
    border: none;
}
